html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  --background-color: #3eb0ea;
  --shadow-up: 22px 22px 43px #2d80ab, -22px -22px 43px #4fe0ff;
  --shadow-down: inset 22px 22px 43px #2d80ab, inset -22px -22px 43px #4fe0ff;
  --text-width: 13em;
}

* {
  /*box-sizing: border-box;*/
}
