.container {
  width: 100vw;
  height: 100vh;
  font-family: 'Anonymous Pro', monospace;
  background-color: var(--background-color);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.container::after {
  background-image: url('../public/background.jpeg');
  content: '';
  width: 100vw;
  height: 100vh;
}

.content {
  position: relative;
  top: 50%;
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.links {
  box-sizing: content-box;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line1 {
  position: relative;
  top: 50%;
  width: var(--text-width);
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.75);
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 400%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  margin-bottom: 30px;
}

.button {
  padding: 20px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  background: var(--background-color);
  box-shadow: var(--shadow-up);
  width: 190px;
  font-size: 1.5em;
}

.button:hover {
  border-radius: 50px;
  box-shadow: var(--shadow-down);
  transform: scale(0.98);
}

.left {
  position: relative;
  top: 55%;
  left: 32%;
}

.right {
  position: relative;
  top: 55%;
  left: 42%;
}

/* Animation */
.animTypewriter {
  animation: typewriter 3s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: var(--text-width);
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
