.container {
  height: 100vh;
  font-family: 'Anonymous Pro', monospace;
}

.container::after {
  background-image: url('../public/background.jpeg');
  content: '';
  width: 100vw;
  height: 100vh;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.links {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.link {
  width: fit-content;
  border: 2px solid lightsalmon;
  border-radius: 20px;
  padding: 10px;
  min-width: 200px;
  text-align: center;
  background-color: antiquewhite;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line1 {
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.75);
  font-size: 60px;
  text-align: center;
  white-space: normal;
  padding: 20px 0px;
}

/* Animation */
.typewriter {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  /* Adjust as needed */
  animation:
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;
}

.carret {
  animation: blink-caret .75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

  from,
  to {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}