.container {
  width: 100vw;
  height: 100vh;
  font-family: 'Anonymous Pro', monospace;

  background-image: url('../public/background.jpeg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.container::after {
  background-color: #7db0ca;
  content: '';
  width: 100vw;
  height: 100vh;
}

/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

.line1 {
  position: relative;
  top: 50%;
  width: 12em;
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.75);
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

.button {
  padding: 20px;
  color: rgba(255, 255, 255, 0.75);
  border-radius: 50px;
  background: #7db0ca;
  box-shadow: 20px 20px 60px #6a96ac, -20px -20px 60px #90cae8;
  width: 190px;
}

.left {
  position: relative;
  top: 55%;
  left: 35%;
}

.right {
  position: relative;
  top: 55%;
  left: 45%;
}

.button:hover {
  border-radius: 50px;
  background: #7db0ca;
  box-shadow: inset 20px 20px 60px #6a96ac, inset -20px -20px 60px #90cae8;
  transform: scale(0.98);
}

/* Animation */
.animTypewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 12em;
  }
}
@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to {
    border-right-color: transparent;
  }
}
